{% extends "base.html" %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Descrição</th>
                <th scope="col">Valor</th>
                <th scope="col">Pessoa</th>
                <th scope="col">Tipo</th>
            </tr>
        </thead>
        <tbody>    
            {% for transacao in transacoes %}
                <tr>
                    <td>{{transacao.1}}</td>
                    <td>R$ {{transacao.2}}</td>
                    <td>
                        {% for pessoa in pessoas%}
                            {% if(pessoa.0 == transacao.3) %}
                                {{pessoa.1}}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{tipos[transacao.4-1].1}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}