{% extends "base.html" %}

{% block content %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Receitas</th>
            </tr>
        </thead>
        <tbody>
            {% for pessoa in pessoas_receita %}
                <tr>
                    <td>{{pessoa.0}}</td>
                    <td id="receita">R$ {{pessoa.1}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td class="total">R$
                    R$
                    {% if receita_total.0 == None %}
                        0
                    {% else %}
                        {{ receita_total.0 }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Despesas</th>
            </tr>
        </thead>
        <tbody>
            {% for pessoa in pessoas_despesa %}
                <tr>
                    <td>{{pessoa.0}}</td>
                    <td id="despesa">R$ {{pessoa.1}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td class="total">
                    R$
                    {% if despesa_total.0 == None %}
                        0
                    {% else %}
                        {{ despesa_total.0 }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Saldo</th>
            </tr>
        </thead>
        <tbody>
            {% for pessoa in all_pessoas %}
                <tr>
                    <td>{{pessoa.1}}</td>
                    <td id="saldo">R$ {{saldo[pessoa[0]-1]}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td class="total">R$ {{ saldo_total }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}