{% extends "base.html" %}

{% block content %}

<form action="/atualizar/pessoa/{{pessoa.0}}" method="POST" id="form_pessoa">

    <label for="nome">Nome</label>
    <input type="text" class="form-control" name="name" id="nome" value="{{pessoa.1}}">

    <div class="form-group">
    <label for="idade">Idade</label>
    <input type="number" class="form-control" name="age" id="idade" min="0" value="{{pessoa.2}}">
    
    <button type="submit" class="btn btn-primary">Atualizar</button>
    </div>
</form>

{% endblock %}